.form-input{
    
    padding: 12px 0px;
    margin: 10px 0;
    width: 60%;
    border:none;
    border-bottom: 1px solid black;
    margin: 10px 0;
   background: none;
    outline: none;
    font-size: 14px;
    box-shadow: 0 0 0px 100px lightgray inset;

}

::placeholder{
    color:rgb(14, 8, 8);
    letter-spacing: 0.5;
    font-family: "Roboto Condensed";
}